<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="demo">
    <input type="text" v-model="foo">
    <input type="checkbox" v-model="bar">
    <select v-model="baz">
      <option value="vue">vue</option>
      <option value="react">react</option>
    </select>
  </div>
  <script src="../vue.js"></script>
  <script>
    // 创建实例
    const app = new Vue({
      el: '#demo',
      data: {
        foo: 'foo',
        bar: true,
        baz: 'react'
      }
    });
    console.log(app.$options.render);
  </script>
</body>
</html>