<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>Document</title>
 <script src='../js/vue.js'></script>
</head>
<body>


<div id='root'>
    {{ name }} <br/><br/>
    <input type="text" v-model="firstName"/> <br/><br/>
    <input type="text" v-model="lastName"/> <br/><br/>
    全名：<span>{{ fullName }}</span> <br/><br/>
    全名：<span>{{ fullName }}</span><br/><br/>
    全名：<span>{{ fullName }}</span><br/><br/>
    全名：<span>{{ fullName }}</span> 
</div>
<script>
Vue.config.productionTip = false; //阻止生产提示
const vm = new Vue({
  el:'#root',
  data(){
      return {
        name:'胡歌',
        firstName:'胡',
        lastName:'歌',
      }
  },

  computed:{
    // 完整写法
    // fullName:{
    //   // get 什么作用？当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
    //   // get什么时候调用？1，初次读取fullName时。2，所依赖的数据发生变化时。
    //   get(){
    //     console.log("get 被调用了")
    //     return this.firstName + '_' + this.lastName;
    //   },
    //   // set 不是必须写
    //   // set 什么时候调用？当fullName被修改时
    //   set(value){
    //     console.log('dufu',value);
    //     const arr = value.split('_');
    //     this.firstName = arr[0];
    //     this.lastName = arr[1];
    //   }
    // }

    // 简写
    // 只考虑读取不考虑修改的时候可以使用简写形式
    fullName(){
      return this.firstName + '_' + this.lastName;
    }
  }
})
</script>
</body>
</html>   